{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('player/player.css') }}"/>

{% endblock %}

<audio id="audio">
    <source id="audioSource" src="" type="audio/mpeg">
</audio>

<div class="audio-player">
    <div class="cover-art">
        <a href="https://soundcloud.com/arimason" target="_blank"></a>
    </div>
    <div class="info">
        <h2 id="composer"></h2>
        -
        <h3 id="title"></h3>
        <p id="timeleft">00:00</p>
        <div class="progressbar_slide">
            <div class="progressbar_range"></div>
        </div>

    </div>
    <div class="controls">
        <div class="controls_plays">

            <svg id="prev_btn" viewBox="0 0 24.5 23.6">
                <polygon points="0,11.8 13.5,0 13.5,10.7 24.5,0 24.5,23.6 13.5,12.9 13.5,23.6 "/>
            </svg>

            <svg id="plays_btn" viewBox="0 0 24.5 30.9">
                <g id="play_btn">
                    <path d="M0,30.9L0,0l24.5,15.4L0,30.9z"/>
                </g>
                <g id="pause_btn">
                    <rect x="0" y="0" width="8.2" height="30.9"/>
                    <rect x="16.2" y="0" width="8.2" height="30.9"/>
                </g>
            </svg>

            <svg id="next_btn" viewBox="0 0 24.5 23.6">
                <polygon points="25,11.8 11.5,0 11.5,10.7 0.5,0 0.5,23.6 11.5,12.9 11.5,23.6 "/>
            </svg>

                <span id="control-random" class="glyphicon glyphicon-random" aria-hidden="true"></span>

                <span id="control-share" class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>

                <span id="control-download" class="glyphicon glyphicon-download" aria-hidden="true"></span>

                <span id="control-comment" class="glyphicon glyphicon-comment" aria-hidden="true"></span>

        </div>
        <div class="controls_player">

            <svg id="volume_btn" viewBox="0 0 23 23">
                <path d="M17.5,6.6v9.9L11.4,13H5.5v-3h6L17.5,6.6z M10.7,7H2.5v9h8.2l9.8,5.3V1.2L10.7,7z"/>
            </svg>
        </div>
    </div>

</div>

{% block javascripts %}
    <script type="text/javascript" src="{{asset('player/player.js') }}"></script>
{% endblock %}