{% extends '/base.html.twig' %}

{% form_theme addTrack_form 'bootstrap_4_layout.html.twig' %}
{% block title %}Ajouter une musique{% endblock title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('track/addTrack.css') }}"/>
{% endblock %}

{% block body %}

    <div class="container">
        <label class="btn btn-primary" for="file-selector">
            <input id="file-selector" type="file" style="display:none">
            Uploader une musique
        </label>
        <span class='label label-info' id="upload-file-info"></span>
        <span><img id="file-img" src="" class="rounded" alt=""  style="display:none; width:100px; height: 100px;"></span>
    </div>

    {{ form_start(addTrack_form, {'attr': {'id': 'form', 'style' : 'display:none'}}) }}

    {{ form_widget(addTrack_form) }}
    <button type="submit" class="btn btn-default">Submit</button>
    {{ form_end(addTrack_form) }}

    <div class="loader" style="display: none;"></div>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('track/addTrack.js') }}"></script>
    {% endblock %}

{% endblock %}