{% extends '/base.html.twig' %}

{% block title %}Playlists{% endblock title %}

{% block body %}
        <div class="container">
            {% if playlists|length > 0 %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Titre </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for playlist in playlists %}

                        <tr id="{{ playlist.id }}">
                            <td><button type="button" class="btn btn-primary" id="playButton">Play</button></td>
                            <td>{{ playlist.label }}</td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                <h2>Aucune playlist trouvé</h2>
            {% endif %}

        </div>

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('track/playlist.js') }}"></script>
    {% endblock %}


{% endblock %}