{% extends '/base.html.twig' %}

{% block title %}Gestion des tracks{% endblock %}

{% block body %}

<div class="col-md-12">
    <h1>Tracks à approuver</h1>

    <div class="col-md-10 col-md-offset-1">
        <table id="articles" class="table table-striped col-md-10">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Type de Musique</th>
                    <th>Durée en minute(s)</th>
                    <th>Contenu explicit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% if data %}
            {% for track in data.content.tracks if track.visible == 0 %}
                <tr>
                    <td>{{ track.user.lastname|upper }} {{ track.user.firstname|capitalize }}</td>
                    <td>{{ track.title }}</td>
                    <td>{{ track.composer }}</td>
                    <td>{{ track.musicType.label }}</td>
                    <td>{{ (track.duration / 60)|round(2, 'floor') }}</td>
                    <td>{{ track.explicit_content == 1 ? "Oui" : "Non" }}</td>
                    <td>
                        <button type="button" class="approveButton btn btn-success" aria-value="{{ track.id }}">Approuver</button>
                        <button type="button" class="refuseButton btn btn-danger" aria-value="{{ track.id }}">Refuser</button>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">Pas de track en attente</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('track/track_managing.js') }}"></script>
{% endblock %}