{% extends '/base.html.twig' %}

{% block title %}Soundbuzz{% endblock %}

{% block body %}
    <link  href="{{ asset('user/form.css') }}" rel="stylesheet">

    {% if app.session.get('userId') == null %}
        {% include 'index/offline.html.twig' %}
    {% else %}
        {% block stylesheets %}
            <link  href="{{ asset('player/nav.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="{{asset('audioPlayer.js') }}"></script>
            <script type="text/javascript" src="{{ asset('player/player.js')}}"></script>
        {% endblock %}
    {% endif %}

{% endblock %}

