<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="account-holder">
        <h3>Bienvenue sur notre plateforme SoundBuzz</h3>
        <div class="social-btn mtop40">
            <h4>Venez profiter maintenant d'une musique totalement open source</h4>
        </div>
        <div class="row">
            <form>
                <br><br>
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="form-group">

                    </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <a href="/signin" class="btn btn-primary btn-block">Inscrivez-Vous</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="account-holder">
        <!--login-form-->
        <h3 class="mbot40">Bienvenue sur notre plateforme Soundbuzz</h3>
        <div class="row">
            {{ form_start(logIn_form) }}
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label required" for="email">Email<sup style="color:red">*</sup></label>
                        {{ form_widget(logIn_form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Adresse email'} }) }}
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="control-label required" for="email">Mot de passe<sup style="color:red">*</sup></label>
                        {{ form_widget(logIn_form.password, { 'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'} }) }}
                    </div>
                    <a href="/lostpassword" class="forgot-password">Mot de passe oublié?</a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    {{ form_widget(logIn_form.submit, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}
                </div>
            {{ form_end(logIn_form) }}
        </div>
    </div>
</div>

