@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
body {
  font-family: 'Roboto', sans-serif;
  background: white;
  overflow: hidden;
}

audio {
  position: absolute;
}

h2 {
  font-size: 16px;
  margin: 14px 0;
  font-weight: 100;
}

h3 {
  font-size: 12px;
  font-weight: 400;
}

p {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: grey;
}

a {
  text-decoration: none;
  color: #9d57e4;
}

.audio-player {
  border:2px solid black;
  position: fixed;
  bottom: 0px;
  margin-left: 25%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: all 0.2s;
  width: 50%;
  height: 100px;
  max-width: 600px;
  background:   white   ;
  box-sizing: border-box;
}
@media screen and (max-width: 560px) {
  .audio-player {
    width: 5%;
    background: grey;
  }
}

.info {
  flex: 1;
  margin-bottom: -20px;
  padding: 2px 30px;
}

.cover-art {
  position: absolute;
  bottom: 120px;
  right: 5px;
  width: 70px;
  height: 70px;
  background: url(http://laptevpavel.ru/playground/player/drassed-for-space.jpg);
  background-size: cover;
  transition: all 0.2s;
}
@media screen and (max-width: 560px) {
  .cover-art {
    position: relative;
    width: 100%;
    height: 80vw;
    bottom: inherit;
    right: inherit;
  }
}
@media screen and (max-width: 520px) {
  .cover-art {
    position: relative;
    width: 100%;
    height: 90vw;
    bottom: inherit;
    right: inherit;
  }
}
@media screen and (max-height: 500px) {
  .cover-art {
    display: none;
    width: 0px;
    height: 0px;
  }
}
.cover-art a {
  display: block;
  width: 100%;
  height: 100%;
}
.cover-art a:hover {
  background: white;
  opacity: 0.2;
}

.controls {
  display: flex;
  width: 100%;
  height: 100px;
  background:  white ;
  margin-top: 20px;
  padding-top: -50px;

  box-sizing: border-box;
  transition: all 0.2s;
}
.controls_plays {
  flex: 2;
  display: flex;
  justify-content: space-around;
}
.controls_player {
  flex: 1;
  fill: #7FE5A3;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 420px) {
  .controls {
    flex-direction: column;
    height: 200px;
  }
}

#plays_btn, #prev_btn, #next_btn {
  cursor: pointer;
  width: 26px;
  max-width: 18px;
  transition: all 0.2s;
}
#plays_btn:hover, #prev_btn:hover, #next_btn:hover, #control-random:hover, #control-share:hover, #control-download:hover, #control-comment:hover {
  fill: #565349;
}

#pause_btn {
  display: none;
}

#volume_btn, #shuffle_btn, #playlist_btn, #control-random, #control-share, #control-download, #control-comment {
  cursor: pointer;
  width: 23px;
  max-width: 18px;
  transition: all 0.2s;
}

#control-random, #control-share, #control-download, #control-comment {
  margin-top: 22px;
}

#volume_btn:hover {
  fill: #22a952;
}

.progressbar_slide {
  width: 100%;
  background: #7fe5a3;
  height: 6px;
}

.progressbar_range {
  width: 0;
  background: black;
  height: 6px;
}


.btn-info {
  margin-bottom: -30%;
  margin-left: -5%;
  width: 100px;
  height: 40px;
  background-color: black;
}

.btn-default{
  margin-bottom: -25%;
  margin-left: -5%;
}

#composer {
  display: inline;
}

#title {
  display: inline;
}

#timeleft {
  float: right;
}

