body { padding-top: 70px; }

.mbot10{
    margin-bottom:10px;
}

.mbot20{
    margin-bottom:20px;
}

.mbot30{
    margin-bottom:30px;
}

.mbot40{
    margin-bottom:40px;
}

.mtop10{
    margin-top:10px;
}

.mtop20{
    margin-top:20px;
}

.mtop30{
    margin-top:30px;
}

.mtop40{
    margin-top:40px;
}

.mleft10{
    margin-left: 30px;
}