<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link  href="{{ asset('base/base.css') }}" rel="stylesheet">
        <link  href="{{ asset('user/coockiechoices.js') }}" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="{{ asset('base/base.js') }}"></script>


        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">SoundBuzz</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="/">Accueil</a></li>
                        {% if app.session.get('userId') != null %}
                            <li><a href="/livestream">Live</a></li>
                            <li><a href="/playlists">Playlists</a></li>
                            {% if app.session.get('userRole') > 1 %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/user/manage">Liste des utilisateurs</a></li>
                                    <li><a href="/track/pending">Liste des tracks</a></li>
                                    <li><a href="/track/reported">Liste des tracks signalés</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout">Déconnexion</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div id="flashMessages" class="col-sm-offset-1 col-sm-10">
                    {% include ('flashMessage.html.twig') %}
                </div>
            </div>
            {% block body %}{% endblock %}

            {% include 'player/player.html.twig' %}
        </div>
        <script src="{{asset('cookiechoices.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function(event) {
                cookieChoices.showCookieConsentBar(
                'En poursuivant votre navigation, vous acceptez l’utilisation des cookies pour mesurer notre audience,' +
                    ' vous proposer des contenus personnalisés.'
                    ,'Accepter', 'Décliner','Accepter');});




        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>