{% set session = app.session.get('broadcast') %}
{% set livestreamId = session['livestreamId'] %}
{% set userId = session['userId'] %}

{% extends '/base.html.twig' %}

{% block title %}Soundbuzz{% endblock %}
{% block body %}
    <div class="container">
        <h1>AFSY - WebSockets and Symfony</h1>
        <div id="ws-content-receiver">
            Connecting...
        </div>
        <div id="ws-total-receiver"></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        var wsUrl = '{{ ws_url }}';
        var _receiver = document.getElementById('ws-content-receiver');
        var ws = new WebSocket('ws://' + wsUrl);
        var serverConnection = null;
        var userId = {{ userId }}
        var livestreamId = '{{ livestreamId }}'
    </script>
    <script type="text/javascript" src="{{ asset('livestream/broadcaster.js') }}"></script>
{% endblock %}
