{% extends '/base.html.twig' %}

{% block title %}Soundbuzz{% endblock %}

{% block body %}

    {% if livestreams %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Streamer</th>
        </tr>
        </thead>
        <tbody>
        {% for livestream in livestreams.content.livestreams %}s
            <tr>
                <td>{{ livestream.user.artist_name }}</td>
                <td>
                    <a href="http://localhost:8000/livestream/view/{{ livestream.streamId }}" class="btn btn-info" role="button">View stream</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
        <input class="btn btn-default" type="button" value="Start new stream" id="newStream">
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript">
            var userId = {{ userId }};
        </script>
    <script type="text/javascript" src="{{ asset('livestream/livestream.js') }}"></script>

    {% endblock %}