{% extends '/base.html.twig' %}
{% block body %}
<div class="container">
    <h1>AFSY - WebSockets and Symfony</h1>
    <div id="ws-content-receiver">
        Connecting...
    </div>
    <div id="ws-total-receiver"></div>
    <video id="remoteVideo" controls autoplay height="225" width="300"></video>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var wsUrl = '{{ ws_url }}';
        var livestreamId = '{{ livestreamId }}';
        var username = '{{ username }}';
    </script>
<script type="text/javascript" src="{{ asset('livestream/viewLivestream.js') }}"></script>
{% endblock %}