{% extends '/base.html.twig' %}

{% form_theme lostPwd_form 'bootstrap_4_layout.html.twig' %}
{% block title %}Soundbuzz - Lost Password{% endblock %}

{% block body %}

    {{ form_start(lostPwd_form, {'attr': {'id': 'formLostPwd'}}) }}
    {{ form_widget(lostPwd_form) }}
    {{ form_end(lostPwd_form) }}

{% endblock %}

