
{% extends '/base.html.twig' %}

{% block title %}Soundbuzz{% endblock %}

{% block body %}



    {% block stylesheets %}

        <link  href="{{ asset('player/nav.css') }}" rel="stylesheet">
        <link  href="{{ asset('user/profile.css') }}" rel="stylesheet">

    {% endblock %}


    <div class="sidenav">
        <br><br><br>
        <a href="#">Catégorie</a>   <br><br>
        <a href="#">Instrument</a>  <br><br>
        <a href="#">Ambiances</a>   <br><br>
    </div>

    <div class="main">

<br><br>
        <div class="container">
            <div class="row">
                <div id="alert_message" style="margin-top : 15px;" ></div>
                <div class="col-xs-8 col-xs-offset-2" id="profile_card" >
                    <div id='profile_display' class='well well-lg text-center bg-primary'>

                        <form id="cards" class="form-horizontal">

                            <img src="https://ae01.alicdn.com/kf/HTB12.a3nh6I8KJjSszfq6yZVXXa9/Gon-col-re-hunter-x-art-gon-gar-on-MB14-Vivant-chambre-mur-de-la-maison.jpg_640x640.jpg" class="img-circle" alt="Cinque Terre">
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="textinput">Username</label>
                                <div class="col-md-6" id="p_name_div"><h5>MJN Technologies</h5></div>
                            </div>


                            <a class="btn" id="edit_profile_icon" onclick="profile_edit_div();" ><i class="fa fa-pencil fa-lg"></i></a>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="textinput">Name</label>
                                <div class="col-md-6" id="p_name_div"><h5>MJN Technologies</h5></div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="textinput">Organization</label>
                                <div class="col-md-6" id="p_org_div"><h5>MJN Technologies</h5></div>
                            </div>


                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-6 control-label" for="textinput">Email ID</label>
                                <div class="col-md-6"><h5>mjntechnologies@outlook.com</h5></div>
                            </div>
                        </form>
                        <button id="c_pass_btn" type="button" class="btn btn-warning" onclick="jQuery('#c_pass_form').show();jQuery('#c_pass_btn').hide();">Modifier les changements</button>

                        <form name="c_pass_form" id="c_pass_form" method="post" style="display: none;">
                            <div class="form-group col-md-5 col-xs-offset-3">
                                <input type="password" name="p_password" id="p_password" tabindex="6" class="form-control input-md" placeholder="Change Password" required="">
                            </div>
                            <button id="c_pass_btn" type="button" class="btn btn-primary">Modifier les changements</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}