{% extends '/base.html.twig' %}

{% form_theme sendlostPwd_form 'bootstrap_4_layout.html.twig' %}
{% block title %}Soundbuzz - Lost Password{% endblock %}

{% block body %}

    {{ form_start(sendlostPwd_form, {'attr': {'id': 'sendLostPwd'}}) }}
    {{ form_widget(sendlostPwd_form) }}
    {{ form_end(sendlostPwd_form) }}

{% endblock %}

