{% extends '/base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('user/signIn.css') }}"/>
{% endblock %}

{% form_theme signIn_form 'bootstrap_4_layout.html.twig' %}
{% block title %}Inscription{% endblock title %}

    {% block body %}

            <div class="container">
                <h2>Formulaire d'inscription</h2> <br><br>
                {{ form_start(signIn_form) }}
                {{ form_widget(signIn_form) }}
                {{ form_end(signIn_form) }}
            </div>

    {% endblock %}