{% extends '/base.html.twig' %}

{% block title %}Gestion d'utilisateurs{% endblock %}

{% block body %}

<div class="col-md-12">
    <h1> Gestion des utilisateurs</h1>
    <div class="col-md-10 col-md-offset-1">
        <table id="articles" class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% if data %}
            {% for user in data.content.users %}
                {%  set buttonClass = user.isactif ? 'btn btn-danger' : 'btn btn-success' %}
                {%  set buttonText = user.isactif ? 'Désactiver' : ' Réactiver' %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td><button type="button" class="updateButton {{ buttonClass }}" aria-value="{{ user.id }}">{{ buttonText }}</button></td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Pas d'utilisateur</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('user/managing.js') }}"></script>
{% endblock %}